.bg-container-skill{
    background-color: #ffffff;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.skill-header{
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    color: #1995AD;
}

.icon-containers{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 20px;
    cursor: pointer;
}

.icon-containers p{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    background-color: #ffffff;
    box-shadow: 0 0px 8px #bdbdbd;
    border-radius: 8px;
    font-family: 'Georgia', serif;
    font-size: 18px;
    height: 10px;
    padding: 20px;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    color: #535353;
    width: 355px;
}

.icon-containers p:hover{
    box-shadow: 0 8px 8px #ffffff;
}

.icon-containers p i{
    color: rgb(65, 115, 186);
}

