.bg-container-education{
    background-color: black;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.education-header{
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    color: #1995AD;
}

.be-container{
    box-shadow: 0 0 10px rgb(128, 128, 128);
    margin-top: 20px;
    margin: 10px;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.be-container h1{
    font-family: 'Georgia', serif;
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    color: #A1D6E2;
    text-transform: uppercase;

}

.be-container p{
    font-family: 'Georgia', serif;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    color: #F1F1F2;
}