.bg-container-skills{
    background-color: black;
    color: white;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.skilliconitem{
    min-width: 40px;
    box-shadow: 0 0 10px rgb(97, 97, 97);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    color: #A1D6E2;
    font-size: 30px;
    margin: 10px;
}

.skilliconitem p{
    font-family: 'Georgia', serif;
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    color: #F1F1F2;
    text-transform: capitalize;
}